table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px 18px;
  /* font-family: 'Dosis', sans-serif; */
}

tr:nth-child(2){background-color: #f2f2f2}
tr:nth-child(3){background-color: #D3D3D3}
tr:nth-child(4){background-color: #f2f2f2}
tr:nth-child(5){background-color: #D3D3D3}
tr:nth-child(6){background-color: #f2f2f2}
tr:nth-child(7){background-color: #D3D3D3}
tr:nth-child(8){background-color: #f2f2f2}
tr:nth-child(9){background-color: #D3D3D3}

th {
  background-color: #04AA6D;
  color: white;
}
